*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
	font-family: Georgia, sans-serif;
}

body {
	margin: 0; /* Remove default margin */
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	display: inline-block;
	font-size: 6rem;
	color: #374151;
	border-bottom: thick solid #a9792b;
}

h2 {
	margin-top: 0;
	font-size: 3rem;
	line-height: 1.25;
}

header {
	text-align: center;
} 

section {
	width: 80%;
	max-width: 80rem;
	margin: 3rem auto;
	padding: 2.5rem;
	background-color: #f3f4f6;
	border-radius: 0.5rem;
}

.photo {
	margin-top: 0rem;
	width: 100%;
	max-height: 50rem;
	object-fit: cover;
}

p {
	font-size: 1.5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem auto 1rem;
}

.icon {
	margin-left: 1rem;
	width: 2rem;
}