*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
	font-family: Georgia, sans-serif;
}

body {
	margin: 0; /* Remove default margin */
	line-height: 1.6;
	color: #374151;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	display: inline-block;
	font-size: 6rem;
	border-bottom: thick solid #a9792b;
	margin-bottom: 2rem;
}

h2 {
	margin-top: 0;
	font-size: 3rem;
}

header {
	text-align: center;
} 

.card {
	width: 80%;
	max-width: 80rem;
	margin: 4rem auto;
	padding: 3rem;
	background-color: #f3f4f6;
	border-radius: 0.5rem;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.unstyled {
	text-decoration: none;
	color: #374151;
}

.thumbnail {
	margin-top: 0rem;
	width: 100%;
	max-height: 50rem;
	object-fit: cover;
}

p {
	font-size: 1.5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem auto 1rem;
}

.icon {
	margin-left: 1rem;
	width: 2rem;
}