:root {
  --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --logo-size: min(calc(1vw + 20px), 32px);
  --logo-attribution-size: min(calc(1vw + 8px), 16px);
  --link-color: rgb(71 137 195);
  --form-primary: #343434;
  --form-secondary: #f19e19;
  --form-tertiary: #636363;
  --main-bg: #f2f4f6;
  --form-submit-hover: #d48c19;
  --form-font-size: clamp(0.75rem, 0.75vw + 0.5rem, 1.2rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--system-ui);
  margin: 0;
  display: flex;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

button,
input {
  font: inherit;
}

.logo-container {
  min-height: 100vh;
  padding: 1.5rem 1rem;
  background-image: url('imgs/unsplash-bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 35%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}

.logo-svg {
  width: var(--logo-size);
  height: var(--logo-size);
  margin-top: -4px;
}

.logo-heading {
  margin: 0;
  color: #eaeaea;
  font: bold var(--logo-size) Comfortaa, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5ch;
}

.logo-attribution {
  margin: 0;
  color: #ddd;
  font-size: var(--logo-attribution-size);
}

.form-container {
  background-color: var(--main-bg);
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: var(--form-font-size);
}

.form {
  padding: 1rem;
  color: var(--form-primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-heading {
  margin: 0;
}

.form-subheading {
  border-bottom: 2px solid var(--form-secondary);
  padding-bottom: 0.2rem;
  margin: 1rem auto;
  font-size: calc(var(--form-font-size) + 0.25rem);
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: none;
  justify-content: space-between;
  position: relative;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1 0 250px;
}

input {
  padding: 0.5rem;
}

.form-submit {
  width: 100%;
  margin: 1rem auto 0;
  padding: 1rem;
  background-color: var(--form-secondary);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.form-submit:hover {
  background-color: var(--form-submit-hover);
  cursor: pointer;
}

.form-submit:active {
  transform: scale(0.98);
}

.form-login {
  margin-top: 1rem;
  color: var(--form-tertiary);
}

@media only screen and (width <= 850px) {
  body {
    flex-direction: column;
  }

  .logo-container {
    min-height: 350px;
    height: 350px;
  }

  .form-container {
    flex: 1;
  }
}
