:root {
  --sidebar: #333;
  --header: #83a300;
  --content: #fbffe3;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url('fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url('fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

body {
  margin: 0;
  padding: 2rem 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

#dashboard {
  margin-bottom: 1rem;
  border: 2px solid #eee;
  border-radius: 2px;
  width: 85vw;
  height: clamp(500px, calc(5vw + 70vh), 85vh);
  display: grid;
  grid-template:
    'sidebar header' 1fr
    'sidebar content' 4fr / 200px 3fr;
}

/**********************

         HEADER

***********************/

.header {
  --base-outline: #647c0077;
  --input-outline: #2378da;
  --btn-primary: rgb(37 153 237);
  --btn-primary-hover: rgb(12, 127, 209);

  padding: 1rem 2rem;
  background-color: var(--header);
  grid-area: header;
  color: white;
  display: grid;
  row-gap: 1rem;
  grid-template-rows: auto 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 24px 1fr 24px 30px;
  gap: 1.5rem;
  align-items: center;
}

.header-search {
  width: 80%;
  border: 1px solid var(--base-outline);
  border-radius: 8px;
  font: inherit;
  padding: 0.25rem 0.5rem;
}

.header-search:focus {
  outline: 2px solid var(--input-outline);
}

.header-icon {
  height: 30px;
  width: 30px;
  border: 2px solid var(--base-outline);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.header-avatar-small {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--base-outline);
}

.header-bottom {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 1rem;
}

.header-welcome {
  grid-column-start: 2;
}

.header-avatar-large {
  grid-row: 1 / span 2;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.header-heading {
  display: inline;
  margin: 0;
  font-size: 1.5rem;
}

.header-description {
  display: inline;
  margin: 0;
  color: #fffd;
}

.header-btn-container {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-btn {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: var(--btn-primary);
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.header-btn-icon {
  width: 20px;
  height: 20px;
}

.header-btn:hover {
  background-color: var(--btn-primary-hover);
}

/**********************

        SIDEBAR

***********************/

.sidebar {
  padding-bottom: 1rem;
  background-color: var(--sidebar);
  grid-area: sidebar;
  color: white;
  display: grid;
  grid-template-rows: 1fr repeat(auto-fill, minmax(30px, 1fr));
}

.sidebar-heading {
  align-self: center;
  justify-self: center;
  grid-row-start: 1;
  margin: 0;
  font-size: 2rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(to left, var(--header), var(--content)) 1;
}

.sidebar-item {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 16px;
  justify-content: left;
  align-items: center;
  transition: 0.2s;
}

.sidebar-item:hover {
  background: #555;
  cursor: pointer;
}

.sidebar-icon {
  margin-left: 2rem;
  fill: #eff6ff;
  height: 30px;
  display: block;
}

.sidebar-description {
  font-weight: normal;
  font-size: 1.2rem;
  padding-top: 4px;
  grid-column-start: 2;
  margin: 0;
}

/**********************

        CONTENT

***********************/

.content {
  background-color: var(--content);
  grid-area: content;
}

#footer {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 0.7rem;
}

.footer-icon {
  width: 1.5rem;
}

@media screen and (width <= 750px) {
  #dashboard {
    grid-template:
      'header' 2fr
      'content' 5fr
      'sidebar' 1fr;
  }

  .header-search {
    width: 100%;
  }

  .header-avatar-large {
    grid-row: 1 / 2;
  }

  .header-btn-container {
    grid-column: 1 / span 2;
  }

  .sidebar {
    grid-template-columns: repeat(auto-fit, 30px);
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }

  .sidebar-heading,
  .sidebar-description {
    display: none;
  }

  .sidebar-icon {
    margin: 0;
  }

  .sidebar-item:hover {
    background: #333;
    cursor: pointer;
    transform: scale(1.1);
  }
}
