:root {
  --sidebar: #333;
  --header: #83a300;
  --content: #fbffe3;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url('Roboto/Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url('Roboto/Regular-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url('Roboto/Regular-Medium.ttf');
  font-weight: medium;
}

body {
  margin: 0;
  padding: 2rem 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

#dashboard {
  margin-bottom: 1rem;
  border: 2px solid #eee;
  border-radius: 2px;
  width: 85vw;
  height: clamp(500px, calc(5vw + 70vh), 85vh);
  display: grid;
  grid-template:
    'sidebar header' 1fr
    'sidebar content' 4fr / 200px 3fr;
}

.sidebar {
  padding-bottom: 1rem;
  background-color: var(--sidebar);
  grid-area: sidebar;
  color: white;
  display: grid;
  grid-template-rows: 1fr repeat(auto-fill, minmax(30px, 1fr));
}

.sidebar-heading {
  align-self: center;
  justify-self: center;
  grid-row-start: 1;
  margin: 0;
  font-size: 2rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-image: linear-gradient(to left, var(--header), var(--content)) 1;
}

.sidebar-item {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 16px;
  justify-content: left;
  align-items: center;
  transition: 0.2s;
}

.sidebar-item:hover {
  background: #555;
  cursor: pointer;
}

.sidebar-icon {
  margin-left: 2rem;
  fill: #eff6ff;
  height: 30px;
  display: block;
}

.sidebar-description {
  font-weight: normal;
  font-size: 1.2rem;
  padding-top: 4px;
  grid-column-start: 2;
  margin: 0;
}

.header {
  background-color: var(--header);
  grid-area: header;
}

.content {
  background-color: var(--content);
  grid-area: content;
}

#footer {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 0.7rem;
}

.footer-icon {
  width: 1.5rem;
}

@media screen and (width <= 600px) {
  #dashboard {
    grid-template:
      'header' 2fr
      'content' 5fr
      'sidebar' 1fr;
  }

  .sidebar {
    grid-template-columns: repeat(auto-fit, 30px);
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }

  .sidebar-heading,
  .sidebar-description {
    display: none;
  }

  .sidebar-icon {
    margin: 0;
  }

  .sidebar-item:hover {
    background: #333;
    cursor: pointer;
    transform: scale(1.1);
  }
}
